.main {
  margin: 20px auto;
  margin-bottom: 40px;
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.users {
  width: 500px;
  height: auto;
}
